### Decision Tree

Agenda

1. Introduction to decision Tree
2. Decision Tree algorithm
3. Decision Tree classifier
4. Decision Tree Regressor
5. Advantages and limations of Decision Tree

### 1. Introduction to Decision Tree

1. It is a non-parametric supervised learning method for classification and Regression
2. It is similar to the playing of "dumb charades" game
3. A good algorithm have a less and right questions compared to not not-so good-one
4. The nodes are questions and leafs are the predictions

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
play_data = pd.read_csv("https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/tennis.csv.txt")

In [11]:
play_data.sample(10)

     outlook  temp humidity  windy play
3      rainy  mild     high  False  yes
7      sunny  mild     high  False   no
0      sunny   hot     high  False   no
13     rainy  mild     high   True   no
5      rainy  cool   normal   True   no
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
4      rainy  cool   normal  False  yes
12  overcast   hot   normal  False  yes
11  overcast  mild     high   True  yes

A decision tree for above data

### 2. Decision Tree alogorithm

1. Decision Tree is based on the CART an advancement of ID3 which was developed by the ross qulilan
2. ID3 works when both the feature data and the target data is categorical in nature
3. C4.5 is the advacement of ID3. where cart converts continous feature into categorical feature and then it proceeds with ID3
4. CART is based on the C4.5 with slight advacement that the target can be continuos.
5. Scikit learn is also based on the CART

### Creterion on creating the Decision Tree

1.Entropy : objective of CART is to maximize the information gain in the each split
2. Gini impurity : if the classes are mixed, the gini impurity is maximul 
     both the approaches gives almost the same result 
     we will discuss the alogorithm using the enttropy

### Entropy

Entropy(play) = - P(yes).log2P(yes)- P(no).log2P(no)

In [16]:
a = play_data.play.value_counts()

In [21]:
a.sum()

14

In [24]:
entropy =-((a[0]/a.sum())*np.log2(a[0]/a.sum())) -((a[1]/a.sum())*np.log2(a[1]/a.sum()))
entropy

0.9402859586706311

### Information Gain

In [ ]:
1. information gain is based on the  decrese in the entropy after the dataset split on an attribute
2. constructing the Decision tree is all about the finding the attribute which returns  maximum information gain( i.e most are homogenous branches )
3. Gain(S,A) = Entropy(S) - âˆ‘[(p[S/A])- entropy(S/A)]
4. we intend to choose the attribute, spliting by which the information gain is more
5. Next step is calculating the information gain for all the attributes

In [26]:
play_data.sample(5)

     outlook  temp humidity  windy play
7      sunny  mild     high  False   no
9      rainy  mild   normal  False  yes
12  overcast   hot   normal  False  yes
5      rainy  cool   normal   True   no
13     rainy  mild     high   True   no

#### Information Gain by spliting the outllok column or Attribute

gain(play, outlook) = Entropy(play) - âˆ‘ [p[play/outlook]*Entropy(play/outlook)]
gain(play, outlook) = Entropy(play)- [p(play/outlook==sunny)* Entropy(play/outlook==sunny)]- [p(play/outlook==rainy)* Entropy(play/outlook==rainy)]- [p(play/outlook==overcast)* Entropy(play/outlook==overcast)]

In [57]:
sunny = play_data[play_data.outlook == "sunny"]
sunny2 = sunny.outlook.value_counts()

In [51]:
sunny1 = sunny.groupby("play").outlook.value_counts()
print(sunny1)
sunny1[0]

play  outlook
no    sunny      3
yes   sunny      2
Name: outlook, dtype: int64

3

In [60]:

Entropy_play_outlook_sunny = - (sunny1[1]/sunny2[0])*np.log2(sunny1[1]/sunny2[0])-((sunny1[0]/sunny2[0])*np.log2(sunny1[0]/sunny2[0]))
Entropy_play_outlook_sunny`

0.9709505944546686

In [65]:
overcast = play_data[play_data.outlook == 'overcast']

overcast1 = overcast.outlook.value_counts()

len(overcast)

4

In [69]:
overcast2 = overcast.groupby("play").outlook.value_counts()
overcast2

play  outlook
yes   overcast    4
Name: outlook, dtype: int64

In [72]:
Entropy_play_outlook_overcast = - (overcast2/len(overcast))* np.log2((overcast2/len(overcast)))
abs(Entropy_play_outlook_overcast)

play  outlook
yes   overcast    0.0
Name: outlook, dtype: float64

In [73]:

# Entropy(Play|Outlook=rainy)
Entropy_Play_Outlook_Rain = -(2/5)*np.log2(2/5) - (3/5)*np.log2(3/5)

Entropy_Play_Outlook_Rain

0.9709505944546686

### Gain on splitting by attribute outlookÂ¶

In [82]:
#Gain(Play, Outlook) = Entropy(Play) â€“ [ p(Play|Outlook=Sunny) . Entropy(Play|Outlook=Sunny) ] â€“ 
#[ p(Play|Outlook=Overcast) . Entropy(Play|Outlook=Overcast) ] â€“ [ p(Play|Outlook=Rain) . Entropy(Play|Outlook=Rain) ]

entropy - (5/14)*Entropy_play_outlook_sunny - (4/14)*0 - (5/14) * Entropy_Play_Outlook_Rain

0.24674981977443933

* Other gains
1. Gain(Play, Temperature) - 0.029
2. Gain(Play, Humidity) - 0.151
3. Gain(Play, Wind) - 0.048

<img src = "decisionimg1.png"/>

### Time to find the next splitting criteria

In [97]:
play_data[play_data.outlook == "overcast"]

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

Conclusion: If the outlook is "overcast" the play is true (It is a leaf brach i.e it is the ending of the tree)

In [98]:
play_data[play_data.outlook == 'sunny']

   outlook  temp humidity  windy play
0    sunny   hot     high  False   no
1    sunny   hot     high   True   no
7    sunny  mild     high  False   no
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [106]:
Entropy_Play_Outlook_Sunny = -(3/5)*np.log2(3/5) - (2/5)*np.log2(2/5)

### Information Gain for humidity

In [107]:


#Entropy for attribute high = 0, also entropy for attribute normal = 0 
Entropy_Play_Outlook_Sunny - (3/5)*0 - (2/5)*0

0.9709505944546686

#### Information Gain for windy
1. False -> 3 -> [1+ 2-]
2. True -> 2 -> [1+ 1-]

In [113]:
Entropy_Windy_False =   -(1/3)*np.log2(1/3) - (2/3)*np.log2(2/3)

In [110]:
Entropy_Windy_True = -(1/2)*np.log2(1/2)- (1/2)*np.log2(1/2)

In [114]:
Entropy_Play_Outlook_Sunny- (3/5)*Entropy_Windy_False -(2/5)

0.01997309402197489


Information Gain for temperature
1. hot -> 2 -> [2- 0+]
2. mild -> 2 -> [1+ 1-]
3. cool -> 1 -> [1+ 0-]

In [115]:
Entropy_Play_Outlook_Sunny - (2/5)*0 - (1/5)*0 - (2/5)* 1

0.5709505944546686

In [116]:

play_data[(play_data.outlook == 'sunny') & (play_data.humidity == 'high')]

  outlook  temp humidity  windy play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
7   sunny  mild     high  False   no

In [117]:

play_data[(play_data.outlook == 'sunny') & (play_data.humidity == 'normal')]

   outlook  temp humidity  windy play
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

###  Splitting the rainy branchÂ¶

In [119]:
play_data[play_data.outlook == 'rainy']

   outlook  temp humidity  windy play
3    rainy  mild     high  False  yes
4    rainy  cool   normal  False  yes
5    rainy  cool   normal   True   no
9    rainy  mild   normal  False  yes
13   rainy  mild     high   True   no

In [120]:
# Entropy(Play_Rainy|)
Entropy_Play_Outlook_Rainy =-(3/5)*np.log2(3/5) -(2/5)*np.log2(2/5)

#### Information Gain for temp
1. mild -> 3 [2+ 1-]
2. cool -> 2 [1+ 1-]

In [121]:
Entropy_Play_Outlook_Rainy - (3/5)*0.918 - (2/5)*1

0.020150594454668602

### Information Gain for WindyÂ¶

High -> 2 -> [1+ 1-]
Normal -> 3 -> [2+ 1-]

In [122]:
Entropy_Play_Outlook_Rainy_Normal = -(1/3)*np.log2(1/3) - (2/3)*np.log2(2/3)

In [123]:
Entropy_Play_Outlook_Rainy - (2/5)*1 - (3/5)*Entropy_Play_Outlook_Rainy_Normal

0.01997309402197489

<img src = "decisionimg3.png"/>