In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('nba_elo.csv')

In [12]:
data.sample(1)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,carm-elo_prob1,carm-elo_prob2,carm-elo1_post,carm-elo2_post,raptor1_pre,raptor2_pre,raptor_prob1,raptor_prob2,score1,score2
43238,2000-02-01,2000,0,NaN,DAL,PHI,1462.1624,1506.0796,0.580016,0.419984,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,101.0

In [ ]:
data['winner'] =  data['score1']>

In [23]:
final_win = data[data.playoff== 'f']

In [ ]:
final

In [19]:
data.groupby('playoff').score1.sum().plot()

In [15]:
data.groupby('playoff').team1.sum()

playoff
c    GSWCLEGSWCLETOROKCTOROKCCLEGSWTOROKCGSWGSWGSWB...
f    GSWGSWCLECLEGSWCLEGSWGSWGSWCLECLEGSWGSWGSWCLEC...
q    TORGSWATLOKCCLEMIASASLACTOROKCGSWATLSASMIACLEL...
s    SASGSWCLESASTORGSWCLETORATLOKCMIAPORATLOKCMIAP...
t    CLRPHWWSCWSCNYKSTBSTBCHSNYKWSCCHSPHWCHSNYKPHWP...
Name: team1, dtype: object

In [6]:
len(data.team1.unique())

102

In [8]:
data.isna().sum()

date                  0
season                0
neutral               0
playoff           65103
team1                 0
team2                 0
elo1_pre              0
elo2_pre              0
elo_prob1             0
elo_prob2             0
elo1_post            88
elo2_post            88
carm-elo1_pre     64216
carm-elo2_pre     64216
carm-elo_prob1    64216
carm-elo_prob2    64216
carm-elo1_post    64216
carm-elo2_post    64216
raptor1_pre       67094
raptor2_pre       67094
raptor_prob1      67094
raptor_prob2      67094
score1               88
score2               88
dtype: int64

In [ ]:
()