In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/ranganadhkodali/Pro-Kabadi-season-1-7-Stats/master/DS_events.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3,10,29,32,33,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
new = data.copy()

In [6]:
data.sample(2)

,Unnamed: 0,clock,defender_id,defenders,defending_all_out_points,defending_bonus_points,defending_capture_points,defending_points,defending_team_id,defending_technical_points,...,review.reason.id,review.reason.reason_value,review.review_taken,review.team_id,score,status_id,substituted_by,super_raid,super_tackle,team_id
33709,27,09:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
41361,31,07:41,NaN,NaN,NaN,NaN,NaN,0.0,8.0,NaN,...,NaN,NaN,NaN,NaN,"[9, 20]",0.0,NaN,NaN,NaN,NaN

In [5]:
data.isna().sum()

Unnamed: 0                          0
clock                               0
defender_id                     52513
defenders                       59401
defending_all_out_points        46769
defending_bonus_points          46769
defending_capture_points        46769
defending_points                 8253
defending_team_id                8253
defending_technical_points      46769
do_or_die                       46271
event                               0
event_id                            0
event_no                            0
event_text                          0
match_id                            0
player_id                       61127
raid_all_out_points             46769
raid_bonus_points               46769
raid_points                      8253
raid_technical_points           46769
raid_touch_points               46769
raider_bonus                    66070
raider_id                        8253
raiding_team_id                  8253
reason                          65646
reason_id                       66344
review.outcome                  66568
review.outcome.id               66125
review.outcome.outcome_value    66125
review.reason                   66568
review.reason.id                66125
review.reason.reason_value      66125
review.review_taken             46769
review.team_id                  46769
score                            7335
status_id                       21456
substituted_by                  61835
super_raid                      46769
super_tackle                    46769
team_id                         58318
dtype: int64