In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
import seaborn as sns

%matplotlib inline

In [2]:
glo_rankings=  pd.read_csv('spi_global_rankings.csv')

In [3]:
glo_rankings_int = pd.read_csv('spi_global_rankings_intl.csv')

In [4]:
glo_rankings.head(2)

,rank,prev_rank,name,league,off,def,spi
0,1,1.0,Manchester City,Barclays Premier League,3.29,0.20,95.46
1,2,2.0,Bayern Munich,German Bundesliga,3.51,0.31,95.21

In [5]:
glo_rankings_int.head(2)

   rank    name    confed   off   def    spi
0     1   Spain      UEFA  3.52  0.56  91.92
1     2  Brazil  CONMEBOL  2.88  0.37  90.29

In [6]:
glo_matches = pd.read_csv('spi_matches.csv')
glo_matches_latest = pd.read_csv('spi_matches_latest.csv')

In [7]:
glo_matches.columns

Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

In [8]:
glo_matches_latest.head(2)

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2019,2019-03-01,1979,Chinese Super League,Shandong Luneng,Guizhou Renhe,48.22,37.83,0.5755,0.1740,...,45.9,22.1,1.0,0.0,1.39,0.26,2.05,0.54,1.05,0.00
1,2019,2019-03-01,1979,Chinese Super League,Shanghai Greenland,Shanghai SIPG,39.81,60.08,0.2387,0.5203,...,25.6,63.4,0.0,4.0,0.57,2.76,0.80,1.50,0.00,3.26

In [9]:
glo_matches.columns

Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

In [10]:
glo_matches.bowler

AttributeError: 'DataFrame' object has no attribute 'bowler'