In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/titanic-train.csv.txt')

In [4]:
data.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.0,0,2,363291,20.5250,NaN,S
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.0,1,0,349237,17.8000,NaN,S
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.0,1,0,347083,7.7750,NaN,S
288,289,1,2,"Hosono, Mr. Masabumi",male,42.0,0,0,237798,13.0000,NaN,S
112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.0500,NaN,S
621,622,1,1,"Kimball, Mr. Edwin Nelson Jr",male,42.0,1,0,11753,52.5542,D19,S
705,706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S
738,739,0,3,"Ivanoff, Mr. Kanio",male,NaN,0,0,349201,7.8958,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,NaN,C

In [9]:
data = data.set_index('PassengerId')

In [12]:
feature_data = data.drop(columns = ['Survived','Name','Ticket','Cabin'])

In [14]:
target_data = data.Survived

In [15]:
float_int_data = feature_data.select_dtypes(exclude=["O"])

In [16]:
cat_data = feature_data.select_dtypes(include= ["O"])

In [19]:
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler

In [41]:
float_pipeline = make_pipeline(SimpleImputer(strategy = "median"),MinMaxScaler())

In [42]:
cat_pipeline = make_pipeline(SimpleImputer(strategy = 'most_frequent'), OrdinalEncoder())

In [43]:
from sklearn.compose import make_column_transformer

In [44]:
preprocessor = make_column_transformer(
(float_pipeline, float_int_data.columns),
    (cat_pipeline, cat_data.columns),
    remainder = 'passthrough'
)

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
pipeline = make_pipeline(preprocessor, DecisionTreeClassifier())

In [49]:
pipeline1 = make_pipeline(preprocessor, LogisticRegression())

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
trainX, testX, trainY, testY = train_test_split(feature_data , target_data)

In [52]:
pipeline.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('pipeline-1',
                                                  Pipeline(memory=None,
                                                           steps=[('simpleimputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='median',
                                                                                 verbose=0)),
                                                                  ('minmaxscaler',
                                                                   Min...
                                                  Index(['Sex', 'Embarked'], dtype='object'))],
                                   verbose=False)),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(class_weight=None, criterion='gini',
                                        max_depth=None, max_features=None,
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort=False, random_state=None,
                                        splitter='best'))],
         verbose=False)

In [54]:
pipeline.score(testX,testY)

0.7713004484304933

In [55]:
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [61]:
names = ['logistic regression','linear model','Decision','gaussian','Knn']
models = [LinearRegression(),LinearRegression(),DecisionTreeClassifier(),GaussianNB(),KNeighborsClassifier(),RandomForestClassifier(n_estimators= 1000)]
for name, estimator in zip(names, models):
    pipeline = make_pipeline(preprocessor,estimator)
    pipeline.fit(trainX, trainY)
    print(name, pipeline.score(testX, testY))

logistic regression 0.38946924450607756
linear model 0.38946924450607756
Decision 0.7668161434977578
gaussian 0.7847533632286996
Knn 0.7892376681614349